h1 {
  text-align: center;
}
form {
  width: 300px;
  margin: 0 auto;
}
input {
  width: 100%;
  display: inline-block;
  margin: 10px 0px;
  padding: 10px 0 10px 10px;
}
.btn {
  display: inline-block;
  padding: 10px;
}
img{
  width: 200px;
}